### 1. Introduction to Python

#####  1.1) Hello World

In [ ]:
print('Hello World')

Hello World




#### 1.2) Dealing with Datatypes

1.2.1) int

In [ ]:
print(type(29))
print(type(-24))
print(type(0))

<class 'int'>
<class 'int'>
<class 'int'>

1.2.2) float

In [ ]:
print(type(14.4))
print(type(0.000000001))
print(type(0.0))

<class 'float'>
<class 'float'>
<class 'float'>

1.2.3) string

In [ ]:
print(type('A'))
print(type('Pratiksha'))
print(type('He is very nice'))
print(type('5.5'))
print(type('True'))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

1.2.4) boolean

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

#### 1.3) Operators

1.3.1) Arithmetic Operator

In [ ]:
print('--INT--')
print(2+3)
print(2-3)
print(3/2)
print(3//2)
print(3%2)
print(2*3)
print(2**3)

print()
print()
print()
print('--STR--')
print('A' + 'A')
print('Pratiksha' * 3)

print()
print()
print()
print('--Bool--')

print(True + True)
print(True + False)
print(False + True)
print(False + False)
print('-'*5)

print(True * True)
print(True * False)
print(False * True)
print(False * False)

--INT--
5
-1
1.5
1
1
6
8



--STR--
AA
PratikshaPratikshaPratiksha



--Bool--
2
1
1
0
-----
1
0
0
0

In [ ]:
print(bool('a'))
print(bool('0'))
print(bool('1'))
print(bool(''))

True
True
True
False

1.3.2) Comparison Operators

In [ ]:
print(2>3)
print(2<3)
print(2>=3)
print(2<=3)
print(2==3)
print(2!=3)

print(2=='2')
print(1 == True)
print(100 == True*100)

False
True
False
True
False
True
False
True
True

1.3.3) Logical Operators

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

print(True or True)
print(True or False)
print(False or True)
print(False or False)

print(not(True))

True
False
False
False
True
True
True
False
False

#### 1.4) Typecasting

1.4.1) int

In [ ]:
print(int(12.5))
print(type(int(12.5)))

print(int('121312'))
print(type(int('121312')))

print(int(True))
print(type(int(True)))

12
<class 'int'>
121312
<class 'int'>
1
<class 'int'>

1.4.2) float

In [ ]:
print(float(12))

print(float('12'))

print(float(True))

12.0
12.0
1.0

1.4.3) str

In [ ]:
print(str(12))

print(str(12.5))

print(str(True))

12
12.5
True

1.4.4) bool

In [ ]:
print(bool(0.0000000000000000))


print(bool('0'))
print(bool('0.0000000000000000'))
print(bool(''))

False
True
True
False