### Remove numbers from the text.

In [2]:
text = 'Prat6754iks234ha S123on765kar'

for i in text:
  if (i not in '0123456789'):
    print(i)

P
r
a
t
i
k
s
h
a

S
o
n
k
a
r

### Remove numbers and special characters from the text.

In [10]:
text = 'Prat6754!@#$iks234ha S123on7&%**65kar'

for i in text:
  if (i not in "0123456789!@#$%^&*:/[]}"):
   print(i , end ='')

Pratiksha Sonkar

### Range function

In [11]:
range(5)

range(0, 5)

In [12]:
for i in range(8):
  print(i)

0
1
2
3
4
5
6
7

In [13]:
for i in range(1,5):
  print(i)

1
2
3
4

### Print the table of 15.

In [18]:
num = 15

for i in range(1,11):
  print(num ,'*', i,'=', num*i)

15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150

In [19]:
for i in range(1,15,2):
  print(i)

1
3
5
7
9
11
13

In [20]:
num=13
for i in range(num, num*10+1, num):
  print(i)

13
26
39
52
65
78
91
104
117
130

### Print all the numbers which is even and in range between 0-100.

In [22]:
for i in range(1,101):
  if i%2==0 :
    print(i, end= ',')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

In [24]:
for i in range(2,101,2):
  print(i, end =',')

2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,50,52,54,56,58,60,62,64,66,68,70,72,74,76,78,80,82,84,86,88,90,92,94,96,98,100,

### Print all the numbers which is divisble by 5 or 7 in range upto number.

In [29]:
num = 20
for i in range(1,num):
  if (i%5==0 or i%7==0):
    print(i)

5
7
10
14
15

### Print the sum of  first 100 numbers.

In [30]:
s = 0
for i in range (0,101):
  s = s+i
print(s)

5050

### Nested for loop

In [32]:
for i in range(1,8):
  for j in range (1,8):
    print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
2 1
2 2
2 3
2 4
2 5
2 6
2 7
3 1
3 2
3 3
3 4
3 5
3 6
3 7
4 1
4 2
4 3
4 4
4 5
4 6
4 7
5 1
5 2
5 3
5 4
5 5
5 6
5 7
6 1
6 2
6 3
6 4
6 5
6 6
6 7
7 1
7 2
7 3
7 4
7 5
7 6
7 7

In [33]:
for i in range(1,8):
  for j in range(i,8):
    print(i,j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
2 2
2 3
2 4
2 5
2 6
2 7
3 3
3 4
3 5
3 6
3 7
4 4
4 5
4 6
4 7
5 5
5 6
5 7
6 6
6 7
7 7

### Print all the combinations of dice which can give you sum 6.

In [35]:
for i in range(1,7):
  for j in range(1,7):
    if (i+j)==6:
      print(i,j)

1 5
2 4
3 3
4 2
5 1

### Probability of getting sum 6.

In [50]:
c= 0
for i in range(1,7):
  for j in range(1,7):
    if (i+j)== 6:
      c+=1
print(round(c/36,3))
#print(c,'/',36)
#print(str(c)+'/'+str(36))

0.139

In [53]:
for x in range(1,13):
 c= 0
 for i in range(1,7):
    for j in range(1,7):
      if (i+j)==x:
       c+=1
 print(x,round(c/36,3))

1 0.0
2 0.028
3 0.056
4 0.083
5 0.111
6 0.139
7 0.167
8 0.139
9 0.111
10 0.083
11 0.056
12 0.028