In [1]:
a= [1,'2', 2,5,6,8]
print(a)

[1, '2', 2, 5, 6, 8]

### Slicing

In [2]:
a = [1, 2 ,5 ,6 ,7 ,8,5,6,]
print(a[0:5])

[1, 2, 5, 6, 7]

In [5]:
'Pratiksha Sonkar'[10:13]

'Son'

In [8]:
text ='Pratiksha Sonkar'
text[1:len(text)-1]

'ratiksha Sonka'

In [10]:
a =  [1,234,45,67,33,567]
for i in range(len(a)):
  print(i,a[i])

0 1
1 234
2 45
3 67
4 33
5 567

### Remove the white spaces from the list.

In [ ]:
lst = ['  pratiksha ' ,'ashish  ', '    satyam']

for i in lst:
  print(i.strip())

pratiksha
ashish
satyam

### Find out the name starts with P.

In [ ]:
lst = ['ashish', 'Pratiksha', 'satyam', 'avneet','prerna']

for i in lst:
  if i[0]== 'p' or i[0]== 'P':
   print(i)

Pratiksha
prerna

### List Comprehension

In [ ]:
lst = ['ashish', 'pratiksha', '  satyam', 'avneet','prerna']

#print([i.strip() for i in lst])
#print([len(i) for i in lst])
print([len(i.strip()) for i in lst])

[6, 9, 6, 6, 6]

In [ ]:
[ i for i in range (5) for j in range (3)]

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4]

In [ ]:
[ (i,j) for i in range (5) for j in range (3)]

[(0, 0),
 (0, 1),
 (0, 2),
 (1, 0),
 (1, 1),
 (1, 2),
 (2, 0),
 (2, 1),
 (2, 2),
 (3, 0),
 (3, 1),
 (3, 2),
 (4, 0),
 (4, 1),
 (4, 2)]

### Remove the numbers and special characters

In [ ]:
lst = ['ashi345555sh', 'prat675iksha', 'sat566yam', 'avne88et','pre4355rna']

for txt in lst:    # going through each text

  for i in txt:         # going through each character pf single text.
    if i not in '1234567890':
     print(i, end ='')
  print()

ashish
pratiksha
satyam
avneet
prerna

In [ ]:
for i in 'ash4567ish':
  if i not in '1234567890':
    print(i)

a
s
h
i
s
h

### Add values in empty list

In [ ]:
lst=[]

lst.append(2)
lst.append(10)
lst.append(3)
lst.append(4)
print(lst)

[2, 10, 3, 4]

### Create a list which will store the value 0-100 but only the number which are divisble by 5 or 7.

In [ ]:
lst =[]

for i in range (1,101):
  if (i%5==0 or i%7==0):
    lst.append(i)
print(lst)

[5, 7, 10, 14, 15, 20, 21, 25, 28, 30, 35, 40, 42, 45, 49, 50, 55, 56, 60, 63, 65, 70, 75, 77, 80, 84, 85, 90, 91, 95, 98, 100]

### Output with reverse order

In [ ]:
lst =[]

for i in range (101,1, -1):
  if (i%5==0 or i%7==0):
    lst.append(i)
print(lst)

[100, 98, 95, 91, 90, 85, 84, 80, 77, 75, 70, 65, 63, 60, 56, 55, 50, 49, 45, 42, 40, 35, 30, 28, 25, 21, 20, 15, 14, 10, 7, 5]

### Multidimensional List

In [ ]:
list = [[1,2,3],[4,6,8],[5,8,7]]
print(list)

[[1, 2, 3], [4, 6, 8], [5, 8, 7]]

In [ ]:
list[2]

[5, 8, 7]

In [ ]:
list[1][0]

4

In [ ]:
roll_no= 5
lst = [
    [1, 'Alice', 85],
    [2, 'Bob', 78],
    [3, 'Charlie', 92],
    [4, 'David', 76],
    [5, 'Eve', 89],
    [6, 'Frank', 84],
    [7, 'Grace', 91],
    [8, 'Hank', 73],
    [9, 'Ivy', 88],
    [10, 'Jack', 95]]

for i in lst:
  if (i[0]== roll_no) :
    print('Name:' ,i[1])

Name: Eve